<h1>Click Three Boxes</h1>

<div id="three-box-game">
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-3 " onclick="timeOfDay('yellow', 'Morning') "> <h4>Morning</h4> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="timeOfDay('orange', 'Afternoon')"> <h4>Afternoon</h4> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="timeOfDay('#330', 'Evening')"> <h4>Evening</h4> </div>
  </div>
  <h1 id="time"></h1>
</div>
